* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: calibri;

  /* Global Variables */
  --primary-color: #4160d8;
  --secondary-color: #ced7fd;
  --text-color: #2b2b2b;

  --chatbot-color: #ced7fd;
  --chatbot-text-color: var(--text-color);
  --user-color: var(--primary-color);
  --user-text-color: white;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
}